.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}
.container {
    width: 100%;
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.9));
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
   
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    font-size: 1rem;
    color: white;
   cursor: pointer;
}

    ::placeholder {
        color: whitesmoke;
    }
    .search-bar button img {
        width: 25px;
    }
.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
}

.auth-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.login-btn, .register-btn {
    padding: .7rem 1.5rem;
    border-radius: 1.2rem;
    letter-spacing: .07rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.login-btn {
    color: #fff;
    background: transparent;
    border: 1px solid transparent;
}

.register-btn {
    color: white;
    background: red;
}

.register-btn:hover {
    transition: all .25s ease-in-out;
    background: darkred;
}

.btn-log {
    color: white;
    background: red;
     padding: .7rem 1.5rem;
    border-radius: 1.2rem;
    letter-spacing: .07rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;

}

.btn-log:hover {
       transition: all .25s ease-in-out;
    background: darkred;
}
